html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button {
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.search-result-div {
    text-align: center;
}

.search-result-paragraph {
    padding-left: 2rem;
    padding-top:1rem;
}

.image-spec-column {
    vertical-align: top;
}
.image-spec-ul {
    list-style: none;
    text-align: left;
}

.poster-img {
    max-height: 200px;
}

.pagination-button-form {
    display: inline-block;
}

.movie-serach-result-table{
    margin:auto;
}

.search-box-div {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    background-color: white; /* Optional: Add a background to keep it visible */
    padding: 1rem;
    z-index: 1000; /* Ensure it stays on top */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
    max-height:260px;
}

.result-div
{
    margin-top:260px;
}
